<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :address %><br/>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :url %><br/>
      <%= f.url_field :url %>
    </div>

    <div class="field">
      <%= f.label :date_entered %><br/>
      <%= f.text_field :date_entered %>
    </div>

    <div class="field">
      <%= f.label :date_listed %><br/>
      <%= f.text_field :date_listed %>
    </div>

    <div class="field">
      <%= f.label :days_on_market %><br/>
      <%= f.text_field :days_on_market %>
    </div>

    <div class="field">
      <%= f.label :listed_price %><br/>
      <%= f.text_field :listed_price %>
    </div>

    <div class="field">
      <%= f.label :open_house_date %><br/>
      <%= f.text_field :open_house_date %>
    </div>  

    <div class="field">
      <%= f.label :map_url %><br/>
      <%= f.url_field :map_url %>
    </div>

    <div class="field">
      <%= f.label :listed_description %><br/>
      <%= f.text_area :listed_description %>
    </div>           

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


