<%= semantic_form_for @listing do |f| %>
  <%= f.inputs do %>
    
    <%= f.input :address %>
    <%= f.input :active_flag, :label => "Active?" %>
    <%= f.input :url, :as => :url%>
    <%= f.input :date_entered %>
    <%= f.input :date_listed %>
    <%= f.input :listed_price %>
    <%= f.input :open_house_date %>
    <%= f.input :property_rating, :as => :radio, :collection => ["1", "2", "3", "4", "5"] %>
    <%= f.input :listed_description, :input_html => { :rows => 8, :cols => 60 } %>

    <h3> Notes </h3>
    <div id="notes">
      <%= f.semantic_fields_for :notes do |note| %>
        <%= render 'note_fields', :f => note %>
      <%end%>
        <div class="links">
          <%=link_to_add_association 'Add New Note', f, :notes%>
        </div>
    <% f.actions do %>
      <%= f.action :submit%>
    <% end %>
  <% end %>

  <div class="actions">
    <%= submit_tag "Manually Update"%>
  </div>
<%end%>

